<table class="table is-narrowed is-hoverable is-fullwidth is-striped animated fadeIn">
  <thead>
    <tr class="is-size-7-mobile">
      <th align="center" class="is-hidden-mobile has-text-white sticky has-background-info"
        *ngFor="let header of tableHeaders.desktop">
        {{ header | uppercase }}
      </th>
      <th align="center" class="is-hidden-desktop has-text-white sticky has-background-info"
        *ngFor="let header of tableHeaders.mobile">
        {{ header | uppercase }}
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let state of statesArr">
      <tr class="has-text-centered" [ngClass]="{'is-selected': state?.isSelected}" (click)="toggleState(state)">
        <td  align="left" class="is-size-7-mobile is-paddingless">
          <div class="is-flex">
            <span>
              <fa-icon *ngIf="!state?.isSelected" class="is-size-6 is-size-7-mobile has-text-primary" [icon]="plus">
              </fa-icon>
              <fa-icon *ngIf="state?.isSelected" class="is-size-6 is-size-7-mobile" [icon]="minus"></fa-icon>
            </span>
            <span class="has-text-weight-bold">
              {{ state?.state }}
            </span>
          </div>
        </td>
        <td align="right" class="is-size-7-mobile">
          <span *ngIf="state.deltaconfirmed !== '0'" style="font-size: 0.7rem;" class="has-text-danger">
            +{{ state?.deltaconfirmed }}
          </span>
          <span class="has-text-weight-bold">
            {{ state?.confirmed }}
          </span>
        </td>
        <td align="right" class="is-size-7-mobile">
          <span class="has-text-weight-bold">
            {{ state?.active}}
          </span>
        </td>
        <td align="right" class="is-size-7-mobile">
          <span *ngIf="state.deltarecovered !== '0'" style="font-size: 0.7rem;" class="has-text-danger">
            +{{ state?.deltarecovered }}
          </span>
          <span class="has-text-weight-bold">
            {{ state?.recovered }}
          </span>
        </td>
        <td align="right" class="is-size-7-mobile">
          <span *ngIf="state.deltadeaths !== '0'" style="font-size: 0.7rem;" class="has-text-danger">
            +{{ state?.deltadeaths }}
          </span>
          <span class="has-text-weight-bold">
            {{ state?.deaths }}
          </span>
        </td>
      </tr>
      <ng-container *ngIf="state?.isSelected">
        <tr>
          <td colspan="5">
            <span class="is-pulled-left is-size-7-mobile has-text-success">{{ getTime(state?.lastupdatedtime) }}</span>
          </td>
        </tr>

        <tr class="is-selected">
          <td colspan="5">
            <table class="table is-bordered is-narrowed is-fullwidth is-striped">
              <thead>
                <tr class="is-size-7-mobile has-background-info">
                  <th align="left" class="is-size-7-mobile has-text-white" colspan="3">District</th>
                  <th align="left" class="is-size-7-mobile has-text-white" colspan="3">Confirmed</th>
                </tr>
              </thead>
              <tbody>
                <tr class="has-text-centered" *ngFor="let districtObj of getDistricts(state?.state)">
                  <th align="left" class="is-size-7-mobile" colspan="3">{{ districtObj?.district }}</th>
                  <td align="right" class="is-size-7-mobile" colspan="3">
                    <span *ngIf="districtObj.delta.confirmed" style="font-size: 0.7rem;"
                      class="has-text-danger">+{{ districtObj?.delta?.confirmed }}</span>
                    {{ districtObj?.confirmed }}
                  </td>
                </tr>
                <tr *ngIf="getDistricts(state?.state).length ==0" class="has-text-centered">
                  <td colspan="5" align="center" class="is-size-7-mobile">No Data</td>
                </tr>
              </tbody>
              <tfoot></tfoot>
            </table>
          </td>
        </tr>
        <br>
      </ng-container>
    </ng-container>
  </tbody>
  <tfoot class="has-background-danger">
    <tr>
      <th align="left" class="is-size-7-mobile has-text-white">{{ aggregated?.state }}</th>
      <td align="center" class="is-size-7-mobile has-text-white">{{ aggregated?.confirmed }}</td>
      <td align="center" class="is-size-7-mobile has-text-white">{{ aggregated?.active}}</td>
      <td align="center" class="is-size-7-mobile has-text-white">{{ aggregated?.recovered}}</td>
      <td align="center" class="is-size-7-mobile has-text-white">{{ aggregated?.deaths}}</td>
    </tr>
  </tfoot>
</table>
