@import "~bulma/sass/utilities/_all.sass";

table {
  td{
    vertical-align: middle;
  }
  tr:hover {
    cursor: pointer;
  }
}
fa-icon {
  margin: 6px;
}

.sticky {
  position: sticky;
  top: 4px;
}
