<div class="container">
  <div class="columns is-centered is-multiline is-mobile is-vcentered has-text-centered">
    <div class="column is-half-mobile is-size-6-mobile is-size-5-desktop">

      <div class="box confirmed">
        <div class="content has-text-danger">
          <span class="has-text-weight-bold is-size-3 is-size-4-mobile">1526</span>
          <p class="heading has-text-grey-light is-size-5 is-size-6-mobile">Confirmed</p>
          <fa-icon class="is-size-3" [icon]="faNotesMedical"></fa-icon>
          <br>
        </div>
      </div>

    </div>
    <div class="column is-half-mobile is-size-6-mobile is-size-5-desktop">
      <div class="box active">
        <div class="content has-text-info">
          <span class="has-text-weight-bold is-size-3 is-size-4-mobile">1526</span>
          <p class="heading has-text-grey-light is-size-5 is-size-6-mobile">Active</p>
          <fa-icon class="is-size-3" [icon]="faProcedures"></fa-icon>
          <br>
        </div>
      </div>
    </div>
    <div class="column is-half-mobile is-size-6-mobile is-size-5-desktop">
      <div class="box recovered">
        <div class="content has-text-success">
          <span class="has-text-weight-bold is-size-3 is-size-4-mobile">1526</span>
          <p class="heading has-text-grey-light is-size-5 is-size-6-mobile">Recovered</p>
          <fa-icon class="is-size-3" [icon]="faSmile"></fa-icon>
          <br>
        </div>
      </div>
    </div>
    <div class="column is-half-mobile is-size-6-mobile is-size-5-desktop">
      <div class="box deaths">
        <div class="content has-text-grey">
          <span class="has-text-weight-bold is-size-3 is-size-4-mobile">1526</span>
          <p class="heading has-text-grey-light is-size-5 is-size-6-mobile">Deaths</p>
          <fa-icon class="is-size-3" [icon]="faSadTear"></fa-icon>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
