<app-navbar></app-navbar>

<section class="section">
  <app-overview></app-overview>
</section>

<div class="columns is-multiline is-mobile is-vcentered">
  <div class="column">asd</div>
  <div class="column">dfgdfg</div>
</div>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Made with Love
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum minima non laborum repudiandae cumque explicabo
      eligendi esse natus doloremque consectetur error impedit facere aliquid distinctio aperiam, iusto voluptas facilis
      fugit.
      lorem
    </p>
  </div>
</footer>
