<div class="container has-text-centered">
  <div class="notification">
    <h2 class="title is-3">Covid-19 India Tracker</h2>
  </div>
  <table class="table">
    <thead class="has-text-info">
      <tr class="has-background-info">
        <th>
          State / UT
        </th>
        <th>
          Confirmed
        </th>
        <th>
          Active
        </th>
        <th>
          Recovered
        </th>
        <th>
          Deaths
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let state of statewiseArr">
        <td align="left"><b>{{ state.state }}</b></td>
        <td align="right"><span *ngIf="state.delta.confirmed"
            class="has-text-danger is-size-7">+{{ state?.delta?.confirmed }}</span>
          {{ state.confirmed }}</td>
        <td align="right">{{ state.active }}</td>
        <td align="right">{{ state.recovered }}</td>
        <td align="right">{{ state.deaths }}</td>
      </tr>
    </tbody>


  </table>
</div>
