table {
  border-collapse:separate;
  border-spacing: 2px;
  thead{
    position: sticky;
  }
  tr {
    // background-color: #f8f9fa;
  }
  tr:hover {
    // background-color: #d2d2d3;
  }

  td {
    // border-radius: 5px;
    // padding: 5px;
  }
}
